<div id="sign-up-hero">
  <div class="authentication-container">
    <h1>Sign Up:</h1>
    <h5>Plan the Trip of a Lifetime</h5>
    <div class="authentication-form">
      <%= form_for @user do |f| %>
      <div>
      <%= f.label :username %>
      <%= f.text_field :username %>
      </div>

      <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
      </div>

      <div>
      <%= f.submit %>
      </div>
      <% end %>
    </div>
  </div>
</div>
