<section id="destinations-hero">
  <div class="space-between">
    <h1>Destinations</h1>
    <div class="search">
      <%= form_tag(destinations_path, method: :get) do %>
        <%= text_field_tag :term, params[:term] %>
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
  </div>
</section>

<div class="block-container">
  <% @destinations.each do |destination| %>
    <div class="block">
      <h4><%= link_to destination.city, destination_path(destination) %></h4>
      <p><%= destination.city %>, <%= destination.state %></p>
      <p><%= link_to "Add to Trip", destination_routes_path(destination), method: :post %></p>
      <% if current_admin? %>
        <p><%= link_to "Edit", edit_admin_destination_path(destination) %></p>
        <p><%= link_to "Delete", destination_path(destination), method: "delete", data: {confirm: "Really delete this destination?"} %></p>
      <% end %>
    </div>
  <% end %>
</div>

<%= will_paginate @destinations, :page_links => false  %>
