<h1>All Destinations</h1>

<div class="block-container">
<% @destinations.sort_by(&:updated_at).reverse.each do |destination| %>
  <div class="block">
    <h3><%= link_to destination.city, destination_path(destination) %></h3>
    <p><%= destination.city %>, <%= destination.state %></p>
    <p><%= destination.latitude %></p>
    <p><%= destination.longitude %></p>
    <p><%= destination.population %></p>
  </div>
<% end %>
</div>
