<section id="destinations-hero">
  <div class="space-between">
    <h1>Destinations</h1>
    <div class="search">
      <%= form_tag(destinations_path, method: :get) do %>
        <%= text_field_tag :term %>
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
  </div>
</section>

<div class="block-container">
  <% @destinations.sort_by(&:city).each do |destination| %>
    <div class="block">
      <h3><%= link_to destination.city, destination_path(destination) %></h3>
      <p><%= destination.city %>, <%= destination.state %></p>
      <p><%= destination.population %></p>
    </div>
  <% end %>
</div>
