<section class="destination-show-hero">
  <h1>Destination: <%= @destination.city %></h1>
</section>

<div class="show-block-container">
  <div class="show-block">
    <h3><%= @destination.city %>, <%= @destination.state %></h3>
    <p>Latitude: <%= @destination.latitude %></p>
    <p>Logitude: <%= @destination.longitude %></p>
    <p>Population: <%= @destination.population %></p>
  </div>
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCpwNZTxj-K23mT_FUH5tjFBKoxUejzyDQ&q=<%= @destination.city.gsub(" ", "+") %>,<%= @destination.state %>" allowfullscreen>
  </iframe>
</div>
