<h1>Destination: <%= @destination.name %></h1>

<div class="block-container">
  <div class="block">
    <p><%= @destination.city %>, <%= @destination.state %></p>
    <p><%= @destination.latitude %></p>
    <p><%= @destination.longitude %></p>
  </div>
<% end %>
</div>
