<!DOCTYPE html>
<html>
  <head>
    <title>WeatherTheTrip</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <a href="/"><img id="logo" src="/assets/logo.png"></a>
      <ul>
        <li><%= link_to "Home", root_path, class: "top-nav-links" %></li>
        <li><%= link_to "Destinations", destinations_path, class: "top-nav-links" %></li>
        <li class="top-nav-links">Your Trips</li>
      <% if logged_in? %>
        <li><%= link_to "Profile", user_path(current_user), class: "top-nav-links" %></li>
        <li><%= link_to "Logout", logout_path, method: :delete, class: "top-nav-links" %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_path, class: "top-nav-links" %></li>
        <li><%= link_to "Login", login_path, class: "top-nav-links" %></li>
      <% end %>
      </ul>
    </nav>
    <%= yield %>
    <div class="flash-container">
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash-message" %>
      <% end %>
    </div>
  </body>
</html>
