<!DOCTYPE html>
<html>
  <head>
    <title>WeatherTheTrip</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <nav>
  <a href="/"><img id="logo" src="/assets/logo.png"></a>
    <ul>
      <li><%= link_to "Destinations", destinations_path, class: "top-nav-links" %></li>
      <li class="top-nav-links">All Trips</li>
      <li class="top-nav-links">Your Trips</li>
      <li class="top-nav-links">Login</li>
      <li class="top-nav-links">Sign Up</li>
    </ul>
</nav>

  <body>
    <%= yield %>
  </body>
</html>
